@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,100;1,300&family=Tilt+Neon&display=swap');
/* #3A1078 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Tilt Neon', cursive; */
}

body {
  background: linear-gradient(#060047,#0F6292);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}


header {
    position: absolute;
    top: 0;
    left : 0;
    width: 100%;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

header .logo {
    color: #FFFF;
    font-weight: 680;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    margin-left: 22px;
    list-style: none;
}

header ul li a {
    color: #ffff;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 20px;
}


header ul li a:hover, 
header ul li a.active { 
    color: #0F6292;
    background: #ffff;
}